


.fa-brands {
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.video-header video {
  background: brown;
  object-fit: cover;
}
.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
  font-family: 'Exo 2', sans-serif;
  /*font-size: 150%;*/
  /*line-height: 1.4;*/
}

body {
  margin: 0;
}

/*h1 {
  font-family: "Syncopate", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3vw;
  line-height: 1.2;
  font-size: 3vw;
  text-align: center;
}
h1 span {
  display: block;
  font-size: 10vw;
  letter-spacing: -0.6rem;
}*/

main {
/* border:1px solid lime;*/
  background: rgba(0,0,0,0.5);
  color:white;
  position: relative;
  padding: 1rem;
margin-top: 100vh;
  margin:auto;

}
main::before {
  content: "";
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  top: -100vh;
}
main p {
  max-width: 600px;
  margin: 1rem auto;
}

/*-----------------------------------------------------------------------------*/
.menubtn{
  color:#97ecf0;
position:sticky;
  z-index:5;
top:10px;
left:10px;}


.sidenav {
background:url('https://s9.gifyu.com/images/goku.gif');
    background-size:cover;
  background-color:rgba(1,2,2,0.9);
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;');
/*  background: linear-gradient(
    142deg,
    rgba(63, 161, 251, 1) 0%,
    rgba(252, 70, 168, 1) 100%
  );*/
    justify-content: center;
    align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.sidenav a {
  padding: 28px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav {
  position: absolute;
  top: 0;
  font-size: 20px;
/*border:1px solid yellow;*/
}

.closebtn{
  color:#97ecf0;
  /*border:1px dashed lime;*/
  position:absolute;
  top:10px;
  right:10px;
  width:150px;
  font-size:50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*----------------------Sweet stuff title -------------------------------------------------*/
 .linktree{
   background-color:rgba(220,220,220,0.1);
 /* border:1px solid red;*/
   max-width: 500px;
  margin: auto;
  padding: 1rem;
  align-items: center;
   justify-content: center;
   backdrop-filter: blur(2px);
 -webkit-backdrop-filter: blur(2px);
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
/*border:1px solid lime;*/
}
.sweet, .stuff{
 /* border:1px solid red;*/
   width:100%;
   font-family: 'Exo 2', sans-serif;
  display:block;
}

.sweet{margin-top:60px;}

.sweet-title {
   
 color: #fde9ff;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #4af7ff, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #165bfb, 5px 3px 1px #4af7ff, 4px 4px 1px #165bfb,
    6px 4px 1px #4af7ff, 5px 5px 1px #165bfb, 7px 5px 1px #4af7ff,
    6px 6px 1px #165bfb, 8px 6px 1px #4af7ff, 7px 7px 1px #165bfb,
    9px 7px 1px #4af7ff;

  span {
    display: block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}
/*-------------------- a buttons ----------------------*/


a{
    position: relative;
    display: block;
    padding:20px;
    margin: 60px auto 0px;
    color: #fde9ff;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
  width:80%;
  text-align:center;  
}

a:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
/*a:nth-child(1){
    filter: hue-rotate(270deg);
}
a:nth-child(2){
    filter: hue-rotate(110deg);
}*/
a span{
    position: absolute;
    display: block;
}
a span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#03e9f4);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
a span:nth-child(3){
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}


a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}

